[Unit]
Description=enoseconfig daemon
After=network.target

[Service]
User=iomni
Group=root
WorkingDirectory=/home/iomni/enoseconfig
ExecStart=/home/iomni/enoseconfig/venv/bin/gunicorn --workers 4 --bind 0.0.0.0:5000 run:app

[Install]
WantedBy=multi-user.target
