.system-saction-from input{
    float: none !important;
    width: 100% !important;
}
.system-saction-from label{
    width: auto;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #29B2FE;
    color:#fff;
    cursor: pointer;
  }